body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-top: 20px;
    margin:0 auto;
    gap: 20px;
}

/* Estilizando o Header */
.header{
    background-color: rgba(223, 126, 16, 0.705);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}
.logotipo{
    width: 100px;
}

nav{
    margin-left: 20px;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 10px;
    position: sticky
}

.menu > li{
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 5px;
    padding: 5px;
}

.menu > li:hover{
    background-color: rgb(226, 66, 66, 0.5);
}

/* ############################################################### */

/* Estilizando o Cardapio */

h1{
    color: rgb(248, 248, 248);
    text-align: center;
    font-size: 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color:rgba(0, 0, 0, 0.65);
    max-width: 800px;
}

h2{
    background-color: rgba(235, 30, 30, 0.6);
    color: white;
}

.cardapio{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 800px;
    justify-content: center;
    margin: 0 auto;

}
/* ########################################################### */

/* Estilizando os conteudos do cardapio */

.lanches, .bebidas, .sobremesas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
}

.lanches > div, .bebidas > div, .sobremesas > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.lanches > div img, .bebidas > div img, .sobremesas > div img{
    max-width: 180px;
    border-radius: 7px;
    box-shadow: 1px 1px 3px rgb(44, 43, 43);
}

.name{
    font-size: 25px;
    font-weight: 600;
}
.desc{
    font-size: 15px;
}
.valor{
    font-size: 20px;
    font-weight: 500;
}

/* ########################################################### */

/* Estilizando o Footer */

.footer{
    margin-top: 20px;
    text-align: center;
}

.footer a{
    color:rgba(0, 0, 0)
}

/* Essa Media Query foi adicionada pois no inspect do navegador apontava */
 /* que essa resolução deixa as imagems bem tortas */
@media (max-width: 540px){
    .lanches > div img, .bebidas > div img, .sobremesas > div img{
        max-width: 190px;
    }
}


/* Estilizaçoes Hover */

.bebidas > div:hover, .lanches > div:hover, .sobremesas > div:hover{
    border: 1px solid rgba(17, 17, 17, 0.1);
    box-shadow: 1px 1px 3px rgb(44, 43, 43), -1px -1px 3px rgb(44, 43, 43);
    border-radius: 5px;
}

.footer a:hover{
    background-color:rgba(17, 17, 17, 0.2);
}

